body {
  margin: 0;
}

 /* 背景① 固定で最初に見える*/
 .bg_chapel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/chapel.avif");
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
 }
 
 /* スクロールする中身 */
.content {
  position: relative;
}

/* 上側：透明（＝背景①が見える） */
.section1 {
  height: 120vh;
}

/* 中間 black box */
.section2 {
  height: 60vh;
  background-color: rgb(26, 26, 26);
}

 /* 背景② */
 .bg_kassouro {
  height: 100vh;
  background: url(assets/images/kassouro.jpg);
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
 }

 /* 背景①、②の上に重ねる半透明の黒いレイヤー */
.wrapper {
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
}